.navbar {
    height: var(--navbar-height);
    position: sticky;
    top: 0;
    z-index: 100;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    padding: 0.8rem 0.5rem;
    background-color: rgba(255, 255, 255, 0.989);
    color: black;
    font-family: var(--font-gibson);
}

.links {
    display: flex;
    gap: 3rem;
    justify-content: center;
    align-items: center;
}

.link {
    font-weight: 200;
    text-decoration: none;
    font-size: 0.8rem;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.2rem;
}


.logo_container {
    position: relative;
    aspect-ratio: 1081/146;
    width: 160px;
    margin: auto auto;
}