.adminLayout {
    display: grid;
    grid-template-columns: auto minmax(0, 1fr);
    height: 100vh;
    align-items: start;
    overflow: hidden;
}

.main {
    height: 100%;
    overflow-y: auto;
    box-sizing: border-box;
    padding: 1.2rem 1.2rem 3rem 1.2rem;
    background: #613ab4;
    background: linear-gradient(
        90deg,
        rgba(37, 18, 99, 1) 0%,
        rgba(97, 58, 180, 1) 90%
    );
}
